

<div class=" ui  center aligned  vertical fluid grid">
 <div class="fluid row">
        <div class="column">
        </div>
    </div>
    <div class="fluid row">
        <div class="column">
           <a ui-sref="ga.category.items" class="ui icon fluid small button">Categorias de productos</a>

        </div>
    </div>

       <div class="fluid row">
        <div class="column">
           <a ui-sref="ga.prjcategory.items" class="ui icon fluid small button">Categorias de proyectos</a>
        </div>
    </div>

</div>


